* {
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    background: url('../Images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body .container {
    width: 85%;
    background-color: #2e3247;
    margin: auto;
    box-shadow: 0px 0px 30px 5px #5E3909;
}

body .container .cover {
    width: 100%;
}

.interact {
    display: none;
}

/*
button {
    margin: auto;
    text-align: center;
    width: 250px;
    height: 80px;
    background-color: #b8b8b8;
    border: 0px;
    border-radius: 7%;
    font-size: 30px;
    color: black;
    box-shadow: 0px 0px 7px 8px rgba(0, 0, 0, 0.3);
    margin: auto 20px;
}
*/

.par {
    line-height: 200%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center
}

p {
    line-height: 200%;
}

.container img {
    width: 50%;
    margin: 2px auto;
}

.space {
    height: 100px;
}

h1 {
    color: yellow;
}

h2 {
    color: #c4b000;
}

h3 {
    color: #b5a300;
}

button {
    padding: 19px 32px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.5), -1px -1px 0 1px rgba(94, 142, 226, 0.55), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.55), 1px -1px 0 1px rgba(159, 79, 211, 0.55), 1px 0 0 1px rgba(191, 47, 203, 0.75);
    background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    width: 300px;
    height: 70px;
    margin: auto 20px;
    outline: none;
}
.paragraph{
text-align: left;



}